$light: rgb(245, 245, 245);
$primaryblock: #0f6cb8;
$primarylight: #3e8ecf;
$hoverprimary: rgb(8, 204, 171);
$lightbg: rgb(235, 235, 235);
$lightbg_shade: rgb(206, 206, 206);
$faded: rgb(163, 163, 163);
$dark: rgb(22, 21, 21);