@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import 'styles/variables';

/* width */
::-webkit-scrollbar {
  width: 1.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 0.5rem 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primarylight;
  border-right: 0.4rem solid $lightbg;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primarylight;
}


#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

* {
  font-family: 'Nunito', sans-serif;
}
