@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import 'styles/variables';

body {
  background: rgb(197,199,246);
  background: linear-gradient(65deg, rgb(179, 182, 245) 0%, rgba(218,234,251,1) 100%);
}

/* width */
::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lightbg_shade;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primarylight;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primarylight;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

* {
  font-family: 'Nunito', sans-serif;
}
