@import 'styles/variables';

.app {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.041), -1px -1px 0px 0px $primarylight;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: $lightbg;
  width: 100%;
  max-width: 58rem;
  flex: 1;
  max-height: 40rem;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    'header header header'
    'conversations chat users';
}

/*
.app > * {
  border: 1px solid black;
}
*/

