@import 'styles/variables';

.users {
  grid-area: users;
}

.users__row {
  display: flex;
  align-items: center;
}

.users__nametag {
  font-size: 0.7rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $dark;
  z-index: 2;
}